.reset-ul {margin: 0;padding: 0;list-style: none;}
.center-inner {text-align: center;}
.left-inner {text-align: left;}
.right-inner {text-align: right;}
.justify-inner {text-align: justify;}
.invisible {display: none;}
.visible {display: run-in;}
.hidden {visibility: hidden;opacity: 0;}
.shown {visibility: visible;opacity: 1;}
.pull-left {float: left;}
.pull-right {float: right;}
.clear {clear: both;}
.clearright {clear: right;}
.clearleft {clear: left;}
.clearfix:before,.clearfix:after {content: "";display: table;}
.clearfix:after {clear: both;}
/*article,aside,figcaption,figure,footer,header,hgroup,nav,section {display: block;}
audio,canvas,video {display: inline-block;}
audio:not([controls]) {display: none;height: 0;}
[hidden] {display: none;}
html {font-family: sans-serif;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;}
body {margin: 0;}
a {background: transparent;}
a:focus {outline: thin dotted;}
a:active,a:hover {outline: 0;}
h1 {font-size: 2em;margin: 0.67em 0;}
abbr[title] {border-bottom: 1px dotted;}
b,strong {font-weight: bold;}
hr {-moz-box-sizing: content-box;box-sizing: content-box;height: 1px;border: 0;background: #ccc;}
pre {font-family: monospace, serif;font-size: 1em;}
pre {white-space: pre-wrap;}
q {quotes: "\201C" "\201D" "\2018" "\2019";}
small {font-size: 80%;}
sub,sup {font-size: 75%;line-height: 0;position: relative;vertical-align: baseline;}
sup {top: -0.5em;}
sub {bottom: -0.25em;}
img {border: 0;}
svg:not(:root) {overflow: hidden;}
figure {margin: 0;}
fieldset {border: 1px solid #c0c0c0;margin: 0 2px;padding: 0.35em 0.625em 0.75em;}
legend {border: 0;padding: 0;}
button,input,select,textarea {font-family: inherit;margin: 0;}
button,input {line-height: normal;}
button,select {text-transform: none;}
button,html input[type="button"],input[type="reset"],input[type="submit"] {-webkit-appearance: button;cursor: pointer;}
button[disabled],html input[disabled] {cursor: default;}
input[type="checkbox"],input[type="radio"] {box-sizing: border-box;padding: 0;}
input[type="search"] {-webkit-appearance: textfield;-moz-box-sizing: content-box;-webkit-box-sizing: content-box;box-sizing: content-box;}
input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration {-webkit-appearance: none;}
button::-moz-focus-inner,input::-moz-focus-inner {border: 0;padding: 0;}
textarea {overflow: auto;vertical-align: top;}*/

body {
	margin: 0;
	font: 1em/1.571 'Open Sans', sans-serif;
	color: #3d3d3d;
	background: transparent;
	overflow: hidden;
}
a {}
a:hover {}
p {margin: 12px 0;}
img {vertical-align: middle;}


.uModalWnd {
	padding: 5px;
}
.uModalWnd__content {
	padding: 0 20px;
}
.uModalWnd__top {
	position: relative;
	padding: 0 50px 0 20px;
	width: 200px;
	border-radius: 7px 7px 0 0;
	background-color: #3bafda;
	box-shadow: 0 2px 5px rgba(18,16,11,.45);
}
.uModalWnd__title {
	display: block;
	font-size: 1.125em;
	line-height: 2.111;
	font-weight: 600;
	color: #fff;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.uModalWnd__close {
	display: block;
	position: absolute;
	right: 15px;
	top: 50%;
	margin-top: -7px;
	width: 14px;
	height: 14px;
	background: url(./../img/uModalWnd__close.png) no-repeat center center;
	cursor: pointer;
}
.uModalWnd__close:hover {
	opacity: .8;
}
.uModalWnd__body {
	position: relative;
	padding: 0 0 24px;
	background: #fff;
	border-radius: 0 7px 7px;
	box-shadow: 0 2px 5px rgba(18,16,11,.45);
}
.uModalWnd__info {
	position: relative;
	padding-right: 65px;
	font-weight: 300;
	font-size: 1.625em;
	line-height: 2.462;
	border-bottom: 1px solid #F2F5F6;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.uModalWnd__info:after {
	position: absolute;
	display: block;
	content: "";
	right: 20px;
	top: 50%;
	margin-top: -17px;
	height: 34px;
	width: 34px;
	background: url(./../img/uModalWnd__info.png) no-repeat right center;
}
.uModalWnd__question-wrap {
	min-height: 150px;
	padding-top: 10px;
}
.uModalWnd__question {
	font-size: 1.125em;
	line-height: 1.333;
	font-weight: 600;
}
.uModalWnd__answers {
	margin: 15px 0 10px;
	padding: 0 0 0 10px;
	list-style-type: none;
}
.uModalWnd__answers li {
	margin-top: 10px;
}
.uModalWnd__answers li:first-child {
	margin-top: 0;
}
.uModalWnd__answers--select {
	height: 40px;
	margin: 15px 0 10px;
	padding: 6px;
	color: #fff;
	font-size: 0.875em;
	line-height: 2.857;
	font-family: 'Open Sans';
	font-weight: 600;
	border-radius: 6px;
	border: 1px solid #3bafda;
	background: #3bafda;
}
.uModalWnd__fs-opened .uModalWnd__answers--select {
	display: block;
}
.uModalWnd__answers--select li {
	margin: 0;
}
.uModalWnd__answers--select label {
	display: block;
	margin: 0;
	padding: 2px 10px;
	cursor: pointer;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	color: #666;
	font-size: 0.875em;
	border-top: 1px solid #e1e1e1;
}
.uModalWnd__answers--select li:first-child label {
	border-top: 0;
}
.fs-option-active label {
	cursor: default;
	background: #e7e7e7;
}
.uModalWnd__answers--select label:hover {
	background: #e7e7e7;
}

.uModalWnd__submit-wrap {
	text-align: right;
}

.uModalWnd__steps {
	margin: 15px 0 0;
	padding: 0 20px;
	list-style-type: none;
	overflow: hidden;
}
.uModalWnd__step {
	float: left;
	width: 25%;
	height: 9px;
	background: #dde2e4;
	border-left: 2px solid #fff;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}
.uModalWnd__step:first-child {
	border-left: 0;
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
}
.uModalWnd__step:last-child {
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
}
.uModalWnd__step--current {
	background: #99d459;
}


/*Inputs and buttons
----------------*/
.uModalWnd button, .uModalWnd .button {
	display: inline-block;
	margin: 0;
	padding: 0 20px;
	font-size: .875em;
	line-height: 2.857;
	font-weight: 600;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	color: #fff !important;
	outline: none;
	border: none;
	border-radius: 7px;
	background-color: #a0d468;
	cursor: pointer;
	-webkit-transition: background-color .15s .05s ease-out;
	   -moz-transition: background-color .15s .05s ease-out;
	     -o-transition: background-color .15s .05s ease-out;
	        transition: background-color .15s .05s ease-out;
}
.uModalWnd button:hover, .uModalWnd .button:hover {
	background: #afe873;
}
.uModalWnd button:active, .uModalWnd .button:active {
	-webkit-box-shadow: inset 0 2px rgba(0, 0, 0, .2);
	        box-shadow: inset 0 2px rgba(0, 0, 0, .2);
}

.uModalWnd__answers input[type=radio] {
	position: absolute;
	margin: 0;
	width: 16px;
	height: 16px;
	background: none;
	opacity: 0;
	filter: alpha(opacity=0);
}
.uModalWnd__answers input[type=radio] + .fake-radio {
	position: relative;
	display: inline-block;
	vertical-align: middle;
	margin: -3px 5px 0 0;
	padding: 0;
	width: 16px;
	height: 16px;
	border: 3px solid #c1cbce;
	background: #fff;
	border-radius: 50%;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
	cursor: pointer;
}
.uModalWnd__answers input[type=radio] + .fake-radio:hover, .uModalWnd__answers label:hover .fake-radio {
	background: #d3effa;
}
.uModalWnd__answers .checked + .fake-radio {
	background: #3bafda !important;
}
.uModalWnd__answers input[type=radio]:checked + .fake-radio {
	background: #3bafda !important;
}
/*------------*/